

/**************************
         HEADER
**************************/


header{
    padding: 25px 25px;
}


.policy{
    font-family: "Product Sans",Arial,sans-serif;
    font-size: 22px;
    line-height: 24px;
}



.logo{
    height: 24px;
    width: 74px;
    vertical-align: middle;
}


.info{
    line-height: 18px;
    font-family: "Product Sans",Arial,sans-serif;
    margin-right: 25px;
    color: rgb(148, 148, 148);
}

.info:hover{
    padding-bottom: 5px;
    border-bottom: 2px solid #3367d6;
}



/**************************
          MAIN
**************************/


main{
    width: 70%;
    margin: auto;
}

h2{
    margin-top: 5rem;
}

div{
    margin: 25px 0px;
}